<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <strong>Basic Form</strong> Elements
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal " name="form">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select">Select IP Type</label>
            <div class="col-md-9">
              <select id="select" name="select" class="form-control" size="1" ng-model="Ip.name.type" ng-options=" state as state.type for state in ipType"
                required>
                <!-- <option ng-if="ipType.length > 1" value="" selected>Choose</option> -->
              </select>

            </div>
            <!-- <span ng-show="form.select.$invalid && form.select.$dirty || form.select.$invalid && form.$submitted " style="color: red">*Category Required</span> -->
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">IP Reference Number</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="referenceNumber" class="form-control" placeholder="Text" ng-model="Ip.referenceNumber">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Owner</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" ng-model="Ip.owner" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Name Of Inventor</label>
            <div class="col-md-9">
              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" ng-model="Ip.nameOfInventor"
                required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Project Titile</label>
            <div class="col-md-9">

              <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" ng-model="Ip.projectTitle" required>
              <span ng-show="repeated" ng-class="{error:repeated}">The name already taken please try with other</span>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="textarea-input">Summary/abstract</label>

            <div class="col-md-9">
              <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Content.." ng-model="Ip.summary"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" ng-click=submit(Ip) ng-disabled="form.$invalid">
          </i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger" ng-click=reset(Ip)>Reset</button>
        <button type="reset" class="btn btn-sm btn-warning" ng-click=back()>Back</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
